

venv/
__pycache__/
*.pyc
*.pyo
*.pyd



*.db
database.db



models/*.h5
models/*.keras
models/*.npy



dataset/
dataset_videos/



Logs/
logs/


.pytest_cache/
.mypy_cache/



.vscode/
.idea/



dist/
build/



*.mp4
*.avi
*.mov



.DS_Store
Thumbs.db