# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Dataset / IA
dataset/
dataset_videos/
models/
Logs/
logs/
*.npy
*.h5
*.keras

# Banco
*.db
*.sqlite3

# Arquivos grandes
*.zip

# Ambiente
.env

# Editor / sistema
.vscode/
.idea/
.DS_Store
Thumbs.db