# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Dataset / IA
# =========================
dataset/
dataset_videos/
models/
Logs/
logs/

# =========================
# Banco / arquivos locais
# =========================
*.db
*.sqlite3

# =========================
# Arquivos grandes
# =========================
*.zip
*.h5
*.keras
*.npy

# =========================
# Ambiente / segredos
# =========================
.env

# =========================
# SO / editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Testes / cache
# =========================
.pytest_cache/
.coverage
htmlcov/